* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

header h1 {
    display: inline-block;
    font-size: 48px;
}
/*makes the seo in Horiseon white*/
header h1 .seo {
    color: #d9dcd6;
}
/*uses nav in the header for navigation links*/
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
/*header list*/
header nav ul {
    list-style-type: none;
}
/*puts header in horizontal row*/
header nav ul li {
    display: inline-block;
    margin-left: 25px;
}
/*color for header text*/
a {
    color: #ffffff;
    text-decoration: none;
}
/*main section sizing*/
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
/*main Image*/
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("./images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}
/*main content boxs*/
main section{
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/*text size for paragraphs*/
p {
    font-size: 16px;
}
/*makes first and third picture in main section on the left*/ 
.float-left {
    float: left;
    margin-right: 25px;
}
/*makes second picture in the main section on the right*/
.float-right {
    float: right;
    margin-left: 25px;
}

/*Images in boxes 1-3*/
main section img{
    height: 200px;
}

main section h2{
    margin-bottom: 20px;
    font-size: 36px;
}

/*side bar for additional notes*/
aside {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/*aside text alighnment and color*/
aside ul {
    margin-bottom: 32px;
    color: #ffffff;
}

/*side Bar headings and text placement*/
h3 {
    margin-bottom: 10px;
    text-align: center;
}

/*images on the side size and desplay*/
aside img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/*Bottom copyright and note*/
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h4 {
    font-size: 20px;
}
